<ion-view view-title="Planning Poker">
  <ion-content>
    <form ng-submit="enterRoom()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Room ID</span>
          <input type="text" ng-model="roomData.id">
        </label>
        <label class="item item-input">
          <span class="input-label">Wachtwoord</span>
          <input type="password" ng-model="roomData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Toetreden</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
