/* Empty. Add your own CSS if you like */
.wrap {
	max-width:960px;
	min-width:280px;
	margin:auto;
	position:relative;
}
.wrap img {
	max-width:100%;
	height:auto;
}
.caption {
	position:absolute;
	top:5px;
	left:0;
	right:0;
	bottom:10px;
	overflow:auto;
}
.caption-inner {
	display:table;
	width:100%;
	height:100%;
}
.caption-content {
	display:table-cell;
	vertical-align:middle;
}
.caption-content p {
	margin:0 50px;
	text-align:center;
	padding:10px;
}
