h1 { font-size:18px; }

#your-card-image { height: 748px; width:561px; margin:auto; display:block; }
.wrap { max-width:960px; min-width:280px; margin:auto; position:relative; }
	.wrap img { max-width:100%; height:auto; }
.caption { position:absolute; top:5px; left:0; right:0; bottom:10px; overflow:auto; }
.caption-inner { display:table; width:100%; height:100%; }
.caption-content { display:table-cell; vertical-align:middle; }
	.caption-content p { margin:0 50px; text-align:center; padding:10px; }
.container { padding:20px; }

/* Layout fixes */
.clear { clear:both; }

.clearFix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }


.selectpicker { width:150px; height:40px; margin-bottom:20px; }
.contentBlock { padding:20px; }

/* modules */
.resultsTable { }
	.resultsTable tr { border-bottom:1px solid #000; }
	.resultsTable tr.tr_header { background:#387ef5; color:#FFF; text-align:center; }
		.resultsTable tr.tr_header td { padding:8px; }
		.resultsTable tr td { padding-top:18px; padding:20px 5px; vertical-align: top; }
		.resultsTable tr td.colorContainer { padding:10px 5px; }
		.resultsTable .color { height:40px; width:40px; display:block; }
			.resultsTable .modusNumber { padding-top:2px; margin-left:20px; text-align:center; color:#FFF; background:#387ef5; }
				.resultsTable .modusNumber td { padding:5px; }