/* Empty. Add your own CSS if you like */

.color-1 {color: #ffff00;}
.color-2 {color: #ffffff;}
.color-3 {color: #00ff00;}
.color-4 {color: #00ffff;}
.color-5 { }
.color-6 { }
.color-7 { }
.color-8 { }
.color-9 { }
.color-10 { }
.color-11 { }
.color-12 { }
.color-13 { }
.color-14 { }
.color-15 { }
.color-16 { }
.color-17 { }
.color-18 { }
.color-19 { }
.color-20 { }