<ion-view view-title="Pick a card" hide-back-button="true">
	<ion-content>
		<div class="container">
			<div class="row">
				<div class="col">	
					<div class="session-info" ng-click="showSessioninfo()" >
						<img src="img/info.png">
					</div>

					<div style="float: left; width: calc(100% - 90px);">
						<label style="margin-bottom:10px">
							<i>
								<b>Issue: </b>
								{{card.getCurrentIssue().description }}
							</i>
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">	
					<form ng-submit="pickCard()">

						<table width="100%" class="resultsTable">
							<tr class="tr_header">
								<td>How long would it take?
								</td>
							</tr>
							<tr ng-repeat="value in cardOptions" ng-class="{'selected-table-row':value == card.getValue()}">
								<td align="center" ng-click="saveCard(value)">
									{{value}}
								</td>
							</tr>
						</table>
						<div class="clear"></div>
						<button class="button button-block button-positive green" type="submit" id="button" name="pickCardSubmit">
							Pick a card
						</button>
					</form>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>