<ion-view view-title="Planning Poker">
  <ion-content>
  	<div class="container">
	    <h4>Kaart kiezen</h4>

	    <p>Kies een kaart uit onderstaande lijst.</p>
	    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
			<button type="button" name="cardValue" class="btn btn-default">1</button>
			<button type="button" name="cardValue" class="btn btn-default">2</button>
			<button type="button" name="cardValue" class="btn btn-default">3</button>
			<button type="button" name="cardValue" class="btn btn-default">5</button>
			<button type="button" name="cardValue" class="btn btn-default">8</button>
			<button type="button" name="cardValue" class="btn btn-default">13</button>
			<button type="button" name="cardValue" class="btn btn-default">21</button>
			<button type="button" name="cardValue" class="btn btn-default">34</button>
			<button type="button" name="cardValue" class="btn btn-default">55</button>
			<button type="button" name="cardValue" class="btn btn-default">89</button>
			<button type="button" name="cardValue" class="btn btn-default">144</button>
			<button type="button" name="cardValue" class="btn btn-default">233</button>
		</div>

		<button name="selectCard">Selecteer kaart</button>
	</div>
  </ion-content>
</ion-view>