<ion-view view-title="Planning Poker">
	<ion-content>
		<div class="container">
			<h2>{{ card.getCurrentIssue().description }}</h2>
			<h4>Kaart kiezen</h4>

			<p>Kies een kaart uit onderstaande lijst.</p>

			<form ng-submit="pickCard()">
				<select ng-model="cardValue" ng-options="value for value in cardOptions" ng-change="saveCard(cardValue)" class="selectpicker"></select>
				<div clas="clear"></div>
				<button class="button button-block button-positive" id="button" type="submit" name="pickCardSubmit">Selecteer kaart</button>
			</form>
		</div>
	</ion-content>
</ion-view>