<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<h1 class="title">Coffee</h1>
		
	</ion-header-bar>
	<ion-content scroll="false" style="overflow:hidden;width:100%;height:calc(100% - 88px);">
		<img style="width:100%;height:100%;" src="img/coffee.png">
	</ion-content>
	<ion-footer-bar align-title="right" class="bar-light">
		<h1 class="title"></h1>
		<div class="buttons">
			<button ng-show="card.getVotedCoffee()" class="button button-clear" ng-click="continue()">Continue</button>
		</div>
	</ion-footer-bar>
</ion-modal-view>