<ion-view view-title="Join a room">
	<ion-content>
		<form ng-submit="enterRoom(roomID)">
		<div class="container">
			<p>Welcome to Planning poker. Please enter the room ID given by you scrum master to join a planning poker session.</p>
		</div>

		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="Room ID" ng-model="roomID">
		  </label>
		</div>

		<label class="item no-border">
			<button class="button button-block button-positive green" name="loginToRoom" type="submit">Enter room</button>
		</label>

		</form>
	</ion-content>
</ion-view>