<ion-view view-title="Planning Poker">
  <ion-content>
    <form ng-submit="submitUsername()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Gebruikersnaam</span>
          <input type="text" ng-model="userdData.id">
        </label>
        <label class="item">
          <button class="button button-block button-positive" name="submitTheUsername" type="submit">Toetreden</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
