<ion-view view-title="User settings">
	<ion-content>
		<div class="container">
			<p>Please choose a name and color to identify yourself in this planning poker session.</p>

		<p>
			<label>
				<input type="radio" value="existing" ng-model="usernameRadio">
				<i>Choose an existing user:</i>
			</label>
		</p>

		<label style="margin-bottom:10px" class="item item-input item-select">
			<div style="width: 60px; height: 39px; background-color:{{ existingUserColor }}"></div>
			<select ng-disabled="usernameRadio == 'new'" style="width: 100%; max-width: calc(100% - 70px);" class="item-input" ng-model="existingUserSelected" ng-change="selectExistingUser(existingUserSelected);" ng-options="existingUser as existingUser.name for existingUser in existingUsers track by existingUser.id">
				<option ng-repeat="existingUser in existingUsers" value="{{ existingUser.id }}">{{ existingUser.name }}</option>
			</select>
		</label>

		<p>
			<label>
				<input type="radio" value="new" ng-model="usernameRadio">
				<i>Or create a new user:</i>
			</label>
		</p>

		<div id="username-color" ng-disabled="usernameRadio == 'existing'" ng-click="showSelectColorModal()" style="background-color: {{ newUserColor }}"></div>

		<div style="float: left; width: calc(100% - 90px);">
			<label style="margin-bottom:10px" class="item item-input">
				<input ng-disabled="usernameRadio == 'existing'" type="text" placeholder="Username" ng-model="newUserName">
			</label>
		</div>

			<button class="button button-block button-positive green" name="submitUsername" ng-click="submitUser(usernameRadio, newUserName);">Join session</button>

		</div>
	</ion-content>
</ion-view>