<ion-view view-title="Je hebt een kaart gekozen">
  <ion-content>
    <h1>Kaart gekozen!</h1>
    <p>Je hebt onderstaande kaart gekozen.</p>
    <p>Wacht tot de overige deelnemers klaar zijn met kiezen.</p>

    <div id="imageWrapper" class="wrap" on-tap="onImageTap()">
    	<img id="your-card-image" src="img/card_front.png">
		<div class="caption">
			<div class="caption-inner">
				<div class="caption-content">
					<p>{{cardValue}}</p>
				</div>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
