<ion-view view-title="Your card" hide-back-button="true">
	<ion-content>
		<div class="container">
			<p>THank you. Your card has been saved. Please wait until your colleagues are readu also!</p>
		</div>

		<div id="imageWrapper" class="wrap" on-tap="onImageTap()">
			<img id="your-card-image" src="img/card_front.png">
			<div class="caption">
				<div class="caption-inner">
					<div class="caption-content">
						<p>{{cardValue}}</p>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
